<template>
    <section class="advisor-info">
        <h1 class="advisor-info-name">{{labels.advisorName}}</h1>
        <ul class="advisor-info-list">
            <li class="advisor-info-item">
                <strong>{{labels.advisorId}}</strong>
                <span>{{model.advisorId}}</span>
            </li>
            <li class="advisor-info-item">
                <strong>{{labels.advisorLabel}}</strong>
                <span>{{model.advisorLabel}}</span>
            </li>
            <li class="advisor-info-item">
                <strong>{{labels.revision}}</strong>
                <span>{{model.revision}}</span>
            </li>
            <li class="advisor-info-item">
                <strong>{{labels.accountId}}</strong>
                <span>{{model.accountId}}</span>
            </li>
            <li class="advisor-info-item">
                <strong>{{labels.localizationId}}</strong>
                <span>{{model.localizationId}}</span>
            </li>
        </ul>
    </section>
</template>

<script>
    export default {
        name: 'AdvisorInfo',
        props: ['model'],
        data () {
            return {
                labels: {
                    advisorName: 'Advisor Info: ',
                    advisorId: 'Advisor id: ',
                    advisorLabel: 'Advisor: label: ',
                    revision: 'Revision: ',
                    accountId: 'Account id: ',
                    localizationId: 'Localization id: ',
                    identifier: 'Identifier: '
                }

            }
        }
    }
</script>

<style lang="scss" scoped>
    @import '../assets/vars.scss';
    .advisor-info {
        font-size: 0.8rem;
        background: $dark-gray;
        color: $white;
        padding: 20px;

        &-name {
            font-size: 2em;
            border-bottom: 1px solid $white;
            padding: 0 0 10px;
            margin-bottom: 10px;
        }

        &-item {
            line-height: 1.4;
            strong {
                font-weight: bold;
            }
        }
    }

</style>