<template>
    <li class="page"
        v-show="showPage(index)">
        <ul class="questions">
            <question v-for="question in page.questions"
                      :question="question"
                      :qaStatus="qaStatus"></question>
        </ul>
    </li>
</template>

<script>
    import Question from './Question'
    export default {
        name: 'Page',
        props: ['page','qaStatus','activePage','index'],
        components: {
            'question': Question,
        },
        methods: {
            showPage: function() {
                return this.activePage === this.index
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import '../assets/vars.scss';
</style>