<template>
    <div class="product-item">
        <h4 class="product-item-name">{{product.name.value}}</h4>
        <a class="product-item-link"
           :href="product.offerurl.value">Go to PDP</a>
    </div>
</template>

<script>
    export default {
        name: 'ProductItem',
        props: ['product']
    };
</script>

<style lang="scss" scoped>
    @import '../assets/vars.scss';
    .product-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $gray;
        padding: $unit / 2 $unit;
        &:hover {
            background: $light-gray;
        }
        &-name {
            margin-right: $unit;
        }
        &-link {
            text-decoration: none;
            color: $white;
            background: $dark-gray;
            padding: 5px;
            border-radius: 3px;
            white-space: nowrap;
        }
    }
</style>