<template>
    <div class="products">
        <h2 class="products-headline">Results:</h2>
        <ul v-for="productCluster in products.productClusters">
            <product-cluster :productCluster="productCluster"></product-cluster>
        </ul>
    </div>
</template>

<script>
    import ProductCluster from './ProductCluster'
    export default {
        name: 'Products',
        props: ['products'],
        components: {
            'product-cluster': ProductCluster
        }
    };
</script>

<style lang="scss" scoped>
    @import '../assets/vars.scss';
    .products {
        &-headline {
            font-size: 2rem;
            text-align: center;
            margin-bottom: 2 * $unit;
        }
    }
</style>