<template>
    <div class="product-cluster">
        <h3 class="product-cluster-headline">{{headlines[parseInt(productCluster.clusterNumber)]}}</h3>
        <ul class="product-list">
            <product-item v-for="product in productCluster.productInstances"
                          :product="product"></product-item>
        </ul>
    </div>
</template>

<script>
    import ProductItem from './ProductItem'
    export default {
        name: 'ProductCluster',
        props: ['productCluster', 'headline'],
        data () {
            return {
                headlines:[
                    'Best Matches',
                    'Other Products'
                ]
            }
        },
        components: {
            'product-item': ProductItem
        }
    };
</script>

<style lang="scss" scoped>
    @import '../assets/vars.scss';
    .product-cluster {
        &-headline {
            background: $gray;
            padding: $unit;
            color: $white;
        }
    }
    .product-list {
        margin-bottom: 2 * $unit;
    }
</style>