<template>
    <section class="qa">
        <ul class="pages">
            <page v-for="(page, i) in model.pages"
                  :page="page"
                  :qaStatus="qaStatus"
                  :activePage="activePage"
                  :index="i"></page>
        </ul>
    </section>
</template>

<script>
    import Page from './Page'
    export default {
        name: 'Qa',
        props: ['model','qaStatus','activePage'],
        components: {
            'page': Page,
        }
    }
</script>

<style lang="scss" scoped>
    @import '../assets/vars.scss';
</style>