<template>
    <section class="qa-navigation">
        <button class="qa-navigation-button prev"
                type="button"
                @click="goPrev()"
                v-show="showButtonPrev()">{{labels.prev}}</button>
        <button class="qa-navigation-button next"
                type="button"
                @click="goNext()"
                v-show="showButtonNext()">{{labels.next}}</button>
    </section>
</template>

<script>
    export default {
        name: 'QaNavigation',
        props: ['model','activePageNumber'],
        data(){
            return {
                labels: {
                    next: 'Next',
                    prev: 'Prev'
                }
            }
        },
        methods: {
            goNext: function() {
                const pageNumber = this.activePageNumber + 1;
                this.emitPageNumber(pageNumber);
            },
            goPrev: function() {
                const pageNumber = this.activePageNumber - 1;
                this.emitPageNumber(pageNumber);
            },
            showButtonPrev: function() {
                return this.activePageNumber > 0;
            },
            showButtonNext: function() {
                if( this.model.hasOwnProperty('pages') ) return this.activePageNumber <= this.model.pages.length - 1;
                return false
            },
            emitPageNumber: function(pageNumber) {
                this.$emit('updatePageNumber', pageNumber)
            }
        },
    };
</script>

<style lang="scss" scoped>
    @import '../assets/vars';
    .qa-navigation {
        display: flex;
        align-items: center;
        margin-bottom: 2 * $unit;
        &-button {
            padding: $unit / 2 $unit * 2 ;
            cursor: pointer;
            &.prev {
                opacity: 0.8;
            }
            &.next {
                margin: 0 0 0 auto;
            }
        }
    }
</style>