<template>
    <li class="question"
        :data-question-id="question.id"
        :data-question-aid="question.aid">
        <h2 class="question-text">{{question.questionText}}</h2>
        <ul class="answers">
            <li class="answer"
                v-for="answer in question.answers">
                <label :for="answer.id">
                    <div class="answer-image">
                        <img :src="answer.images[0]" alt="">
                    </div>
                    <div class="answer-content">
                        <input :type="getType(question.questionType)"
                               :id="answer.id"
                               :value="answer.id"
                               :name="question.id"
                               v-model="answers">
                        <span>{{answer.answerText}}</span>
                    </div>
                </label>
            </li>
        </ul>
    </li>
</template>

<script>
    export default {
        name: 'Question',
        props: ['question','qaStatus'],
        data () {
            return {
                answers: []
            }
        },
        methods: {
            updateQaStatus: function() {
                this.qaStatus[this.question.id] = [];
                if (Array.isArray(this.answers)) this.qaStatus[this.question.id] = this.answers;
                else this.qaStatus[this.question.id].push(this.answers);
                this.$parent.$parent.$emit('updateProduct')
            },
            getType: function(type) {
                if(type === "RADIO_BUTTONS") return 'radio';
                if(type === "CHECKBOXES") return 'checkbox';
                return ''
            }
        },
        watch: {
            answers: function () {
                this.updateQaStatus()
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import '../assets/vars.scss';
    .question {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        &-text {
            font-size: 2rem;
            margin-bottom: 2 * $unit;
            max-width: 80%;
            line-height: 1.2;
        }
    }
    .answers {
        display: flex;
        flex-wrap: wrap;
    }
    .answer {
        width: calc(100% / 3);
        padding: 0 $unit;
        margin-bottom: 2 * $unit;
        &-image {
            img {
                display: block;
                width: 100%;
                margin-bottom: $unit;
            }
        }
        &-content{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: left;
        }
    }
</style>