<template>
    <section class="start-over">
        <button type="button"
                class="start-over-button"
                @click="requestStartOver()">{{labels.startOverButton}}</button>
    </section>
</template>

<script>
    export default {
        name: 'StartOver',
        data(){
            return {
                labels: {
                    startOverButton: 'Start Over'
                }
            }
        },
        methods: {
            requestStartOver: function() {
                this.$emit('startOver')
            }
        }
    };
</script>

<style lang="scss" scoped>
    @import '../assets/vars.scss';
    .start-over {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 2 * $unit;
        &-button {
            padding: $unit / 2 $unit * 2 ;
        }
    }

</style>