<template>
    <div class="advisor-app">
        <start-over @startOver="startOver"></start-over>
        <qa :model="model"
            :qaStatus="qaStatus"
            :activePage="activePageNumber"
            v-if="qaVisibilityStatus"
            @updateProduct = 'getProducts'></qa>
        <qa-navigation :model="model"
                       :activePageNumber="activePageNumber"
                       @updatePageNumber='updatePageNumber'></qa-navigation>
        <products :products="products"></products>
        <advisor-info :model="model"></advisor-info>
    </div>
</template>

<script>
import AdvisorInfo from './components/AdvisorInfo'
import Qa from './components/Qa'
import QaNavigation from './components/QaNavigation';
import Products from './components/Products'
import StartOver from './components/StartOver'

export default {
    name: 'app',
    components: {
        'start-over': StartOver,
        'advisor-info': AdvisorInfo,
        'qa-navigation': QaNavigation,
        'qa': Qa,
        'products': Products
    },
    data () {
        return {
            products: [],
            model: [],
            qaStatus: {},
            activePageNumber: 0,
            qaVisibilityStatus: true
        }
    },
    methods: {
        getApiDetails() {
            return {
                apiUrl: 'http://api-st.smartassistant.com/api/v1/advisors',
                advisorCode: 'g4tM1MFl'
            }
        },
        getModel: function() {
            const api = this.getApiDetails()
            fetch(`${api.apiUrl}/${api.advisorCode}/model`).then(response => {
                return response.json()
            }).then(response => {
                this.model = response;
            })
        },
        getProducts: function() {
            fetch(this.getProductApiUrl()).then(response => {
                return response.json()
            }).then(response => {
                this.products = response;
            });
        },
        getProductApiUrl() {
            const api = this.getApiDetails();
            const selections = this.getQaApiPath();
            const responsePageNumber = 0;
            const numberOfProductsPerPage = 999;
            return `${api.apiUrl}/${api.advisorCode}/products?qs=${selections}&rpn=${responsePageNumber}&npp=${numberOfProductsPerPage}`
        },
        getQaApiPath() {
            let qaPath = '';
            for (let question in this.qaStatus) {
                if (this.qaStatus.hasOwnProperty(question)) {
                    qaPath += question + ':' + this.qaStatus[question].join(';') + ','
                }
            }
            return qaPath.slice(0, -1)
        },
        updatePageNumber(number) {
            this.activePageNumber = number;
        },
        startOver() {
            this.activePageNumber = 0;
            this.qaStatus = {};
            this.getModel();
            this.getProducts();
            this.resetInputsValues()
        },
        resetInputsValues(){
            this.qaVisibilityStatus = false;
            setTimeout( ()=> {
                this.qaVisibilityStatus = true;
            },0)
        },
    },
    created: function() {
        this.getModel();
        this.getProducts();
    },

}
</script>

<style lang="scss">
    @import '/assets/vars';
    .advisor-app {
        padding: 20px;
    }
</style>
